* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #eee;
  font-family: "Lexend Zetta", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to right, transparent, 20%, black), url("../img/fondo freepik.jpg");
}

.wapp {
  position: fixed;
  top: 5%;
  right: 5%;
  width: 40px;
  height: 40px;
}

.opciones {
  display: inline;
}

h1 {
  font-weight: 300;
  text-align: center;
  margin: 50px;
  margin-bottom: 10px;
  letter-spacing: 6px;
  font-size: 70px;
}

h3, h4, h5 {
  font-weight: 300;
  margin: 50px;
  text-align: center;
}

h4 {
  text-decoration: underline;
}

.subtitulo {
  font-size: 30px;
  letter-spacing: 2px;
}

nav {
  display: flex;
  margin: 30px;
  border: solid burlywood;
  padding: 12px;
}

.UlOpciones {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  color: #eee !important;
}

.a {
  color: #eee !important;
}

.menuham {
  background-color: #eee;
}

@media (max-width: 839px) {
  .desde840 {
    display: none;
  }
  h1 {
    margin: auto;
    padding-top: 40px;
    text-align: center;
    font-size: 36px;
  }
  h5 {
    font-size: 15px;
  }
  .subtitulo {
    font-size: 0.9em;
  }
  .PhotoProduct {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: auto !important;
  }
}
@media (min-width: 840px) {
  .hasta839 {
    display: none;
  }
}
.introduction {
  text-align: center;
  margin: 60px;
}

.PhotosProd {
  margin: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.PhotoProduct {
  height: 240px;
  width: 240px;
  border: solid #eee;
}

.NamesProd {
  margin: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.DetailCatering {
  text-align: center;
  margin: 90px;
}

.PEvent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.PhotoEvento {
  height: 120px;
  width: 900px;
  background-image: url(../img/FOTO\ CATERING.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: solid #eee;
}

.footermobile {
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

footer {
  border: solid #eee;
  margin: 60px;
  padding: 60px;
  display: grid;
  grid-template-areas: "A1 B1 C1 D1 E1" "A2 B2 C2 D2 E2" "A3 A3 A3 A3 A3";
  gap: 3px;
  justify-items: center;
  row-gap: 20px;
  font-size: small;
}

.pie {
  grid-area: A1;
}

.UlProductos {
  grid-area: C1;
}

.UlEventos {
  grid-area: D1;
}

.UlQuienes {
  grid-area: E1;
}

.LiProductos {
  grid-area: C2;
}

.LiEventos {
  grid-area: D2;
}

.LiQuienes {
  grid-area: E2;
}

.Redes {
  grid-area: A3;
}

.SocialMedia {
  width: 30px;
  height: 30px;
  margin: 10px;
}

li {
  list-style-type: none;
}

.LogosRedes {
  text-decoration: none;
}

@media (max-width: 839px) {
  fieldset {
    width: 80vw;
    font-size: 14px;
    text-align: center;
  }
  legend {
    float: initial;
    font-size: 15px;
    width: 20em;
    margin: auto;
    width: 20em;
    height: 100%;
    text-align: center;
  }
  form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  label, input, select, .redondeado {
    width: 20em;
  }
  .text {
    width: auto;
  }
}
p {
  text-align: center;
  padding: 30px;
}

fieldset {
  border-radius: 4px;
  padding: 1px;
  margin: auto;
  width: 70vw;
  border: 2px solid #eee;
  font-weight: 200;
}

legend {
  text-align: center;
  padding: 5px;
  float: none;
}

label {
  display: inline-block;
  padding: 6px;
  margin: 6px;
  border-bottom: 1px solid #eee;
  border-radius: 4px;
}

input {
  padding: 4px;
  margin: 10px;
  border-radius: 4px;
  text-align: center;
}

select {
  padding: 4px;
  margin: 10px;
  border-radius: 4px;
}

.text {
  height: 50px;
  width: 50vw;
  border-radius: 4px;
}

.redondeado {
  border-radius: 4px;
  border: 0;
}

fieldset {
  border-radius: 4px;
  padding: 10px;
  margin: auto;
  width: 50vw;
}

label {
  display: inline-block;
  padding: 6px;
  margin: 6px;
  border-bottom: 1px solid;
  border-radius: 4px;
}

input {
  padding: 4px;
  margin: 10px;
  border-radius: 4px;
}

.NuestrosDatos {
  text-align: center;
  padding: 10px;
}

@media (max-width: 839px) {
  fieldset {
    width: auto;
    font-size: 14px;
    text-align: center;
  }
  legend {
    float: initial;
    font-size: 15px;
    width: 20em;
    margin: auto;
    width: 20em;
    height: 100%;
    text-align: center;
  }
  form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  label, input, select {
    width: 20em;
  }
  .text {
    width: auto;
  }
  iframe {
    width: auto;
  }
}

/*# sourceMappingURL=estilos.css.map */
