@media (max-width:839px){
    .desde840{
        display: none;
    }
    h1{
        margin: auto;
        padding-top: 40px;
        text-align: center;
        font-size: 36px;
    }
    h5{
        font-size: 15px;
    }
    .subtitulo{
        font-size: .9em;
    }
    .PhotoProduct{
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: auto !important;
    }
}
@media (min-width:840px){
    .hasta839{
        display: none;
        }
}