@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin body {
    color: #eee;
    font-family: "Lexend Zetta", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, transparent, 20%, black),
    url("../img/fondo\ freepik.jpg");
}
@mixin carousel {
    object-fit: cover;
    width: 100%;
    height: 100%;
}