$color: #eee;

nav{
    display: flex;
    margin: 30px;
    border: solid burlywood;
    padding: 12px;
}
    .UlOpciones{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
a, .a{
    color: $color !important;
}
    .menuham{
        background-color: $color;
    }