.PhotoPizza, .PhotoFoca, .PhotoPan{
    height: 220px;
    width: 220px;
}
.PresentacionProductos{
    display: grid;
    grid-template-areas:
    "H3 H3 H3"
    "A1 A2 A3"
    "B1 B2 B3"
    "C1 C2 C3";
    gap: 3px;
    justify-items: center;
    row-gap: 20px;
    font-size: small;
}
.PresentProd{
    grid-area: H3;
}
.PhotoPizza{
    grid-area: A1;
}
.PhotoFoca{
    grid-area: A2;
}
.PhotoPan{
    grid-area: A3;
}
.NamePizza{
    grid-area: B1;
}
.NameFoca{
    grid-area: B2;
}
.NamePan{
    grid-area: B3;
}
.TextPizza{
    grid-area: C1;
}
.TextFoca{
    grid-area: C2;
}
.TextPan{
    grid-area: C3;
}
.TextPizza, .TextFoca, .TextPan{
    text-align: center;
}
.PhotoPizza, .PhotoPan, .PhotoFoca{
    border: solid #eee;
}
.PhotoAll{
    display: grid;
    grid-template-areas:
    "A1 A2 A3"
    "B1 B2 B3"
    "C1 C2 C3"
    "D1 D2 D3"
    "E1 E2 E3"
    "F1 F2 F3";
    gap: 3px;
    justify-items: center;
    row-gap: 20px;
    font-size: small;
    padding: 50px;
}
.pizza1 {
    grid-area: A1;
}
.NamePizza1{
    grid-area: B1;
}
.pizza2{
    grid-area: C1;
}
.NamePizza2{
    grid-area: D1;
}
.pizza3{
    grid-area: E1;
}
.NamePizza3{
    grid-area: F1;
}
.Foca1 {
    grid-area: A2;
}
.NameFoca1{
    grid-area: B2;
}
.Foca2{
    grid-area: C2;
}
.NameFoca2{
    grid-area: D2;
}
.Foca3{
    grid-area: E2;
}
.NameFoca3{
    grid-area: F2;
}
.pan1{
    grid-area: A3;
}
.NamePan1{
    grid-area: B3;
}
.pan2{
    grid-area: C3;
}
.NamePan2{
    grid-area: D3;
}
.Pan3{
    grid-area: E3;
}
.NamePan3{
    grid-area: F3;
}
.pizza1, .pizza2, .pizza3, .foca1, .foca2, .foca3, .pan1, .pan2, .pan3{
    height: 120px;
    width: 120px;
    border: solid #eee;
}
.Personalizacion{
    text-align: center;
    font-size: 14px;
    padding: 30px;
}
@media (max-width: 839px) {
    .PresentacionProductos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .PhotoPizza{
            order: 1;
        }
        .NamePizza{
            order: 2;
        }
        .TextPizza{
            order: 3;
        }
        .PhotoFoca{
            order: 4;
        }
        .NameFoca{
            order: 5;
        }
        .TextFoca{
            order: 6;
        }
        .PhotoPan{
            order: 7;
        }
        .NamePan{
            order: 8;
        }
        .TextPan{
            order: 9;
        }
    .PhotoAll{
        padding: 0;
        width: auto;
        .pizza1, .pizza2, .pizza3, .foca1, .foca2, .foca3, .pan1, .pan2, .pan3{
            width: auto;
        }
        .NamePizza1, .NamePizza2, .NamePizza3, .NameFoca1, .NameFoca2, .NameFoca3, .NamePan1, .NamePan2, .NamePan3{
            width: auto;
        }
    }
}