// Distribuci贸n de fotos, nombre y descripci贸n de productos usando display grid
.PhotoPizza, .PhotoFoca, .PhotoPan{
    height: 220px;
    width: 220px;
}
.PresentacionProductos{
    display: grid;
    grid-template-areas:
    "H3 H3 H3"
    "A1 A2 A3"
    "B1 B2 B3"
    "C1 C2 C3";
    gap: 3px;
    justify-items: center;
    row-gap: 20px;
    font-size: small;
}
.PresentProd{
    grid-area: H3;
}
.PhotoPizza{
    grid-area: A1;
}
.PhotoFoca{
    grid-area: A2;
}
.PhotoPan{
    grid-area: A3;
}
.NamePizza{
    grid-area: B1;
}
.NameFoca{
    grid-area: B2;
}
.NamePan{
    grid-area: B3;
}
.TextPizza{
    grid-area: C1;
}
.TextFoca{
    grid-area: C2;
}
.TextPan{
    grid-area: C3;
}
.TextPizza, .TextFoca, .TextPan{
    text-align: center;
}
.PhotoPizza, .PhotoPan, .PhotoFoca{
    border: solid $color;
}
// Estilo para secci贸n donde se explica c贸mo personalizar los productos.
.Personalizacion{
    text-align: center;
    font-size: 14px;
    padding: 30px;
}
// Media query para el carrusel de fotos en vista mobile.
@media (max-width: 839px) {
    .PresentacionProductos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .PhotoPizza{
            order: 1;
        }
        .NamePizza{
            order: 2;
        }
        .TextPizza{
            order: 3;
        }
        .PhotoFoca{
            order: 4;
        }
        .NameFoca{
            order: 5;
        }
        .TextFoca{
            order: 6;
        }
        .PhotoPan{
            order: 7;
        }
        .NamePan{
            order: 8;
        }
        .TextPan{
            order: 9;
        }
}
// Estilos de carrusel
.container-carrusel{
    display: block;
    object-position: center;
    margin: auto;
    width: 70vw;
    height: 300px;
    border: solid $color;
    border-radius: 4px;
    overflow: auto;
}
#carouselExampleCaptions, .carousel-inner{
    object-fit: cover;
    width: 100%;
    height: 100%;
}